{% extends "auth-base.html" %}
{% block content %}
    <div id="login-container" class="nunito">
        <h1><strong>License Management</strong></h1>
        <form action="login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="login_area" required>
                <option value="" disabled selected>Login Area</option>
                <option value="user">User Access</option>
                <option value="admin">Administration</option>
            </select>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>

    <div class="blob-outer-container">
        <div class="blob-inner-container">
            <div class="blob"></div>
            <div id="interactive-blob"></div>
        </div>
    </div>
{% endblock %}