{% extends "auth-base.html" %}
{% block content %}
    <div id="login-container" class="nunito">
        <h1><strong>Create an account to view your licenses</strong></h1>
        <form action="register" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/">Login</a></p>
    </div>

    <div class="blob-outer-container">
        <div class="blob-inner-container">
            <div class="blob"></div>
            <div id="interactive-blob"></div>
        </div>
    </div>
{% endblock %}